Source: exodusx
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@exodusx.org>
Uploaders: Holger Schinzel <holger@exodusx.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://genesisx.network/
Vcs-Git: git://github.com/exodusx/exodusx.git
Vcs-Browser: https://github.com/exodusxexodusx

Package: exodusxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 ExodusX is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. ExodusX uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ExodusX Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, exodusxd, and the CLI tool
 exodusx-cli to interact with the daemon.

Package: exodusx-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 ExodusX is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. ExodusX uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ExodusX Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides ExodusX-Qt, a GUI for ExodusX based on Qt.

Package: exodusx-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 ExodusX is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. ExodusX uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ExodusX Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides exodusx-tx, a command-line transaction creation
 tool which can be used without a exodusx daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
